
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Poppins', sans-serif;
}
:root{
    --pink: #ffe6e6;    
    --darkPink: #f092b0;
    --grey: #636162;
}

body{
    height: 100vh;
    background: linear-gradient(var(--pink),#fff,#fff);
}

.navigation-bar{


    .navbar{
        background: transparent;

        .navbar-brand{

            img{
                height: 5rem;
                width: 8rem;
            }
        }

        .nav-right{

            img{
                height: 2rem;
                width: 2rem;
            }
        }
    }
}

.main-wrapper{

    .main{
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%,-50%);

        img{
            width: 70%;
            height: auto;
        }

        h2{
            color: var(--grey);
            line-height: 4rem;
            font-size: 3rem;
            font-weight: 800;
            padding: 1.5rem 0;
        }

        .bottom-caution{
            width: 100%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        i{
            font-size: 1.5rem;
            padding: 0 1rem;
            color: red;
        }
    }

}

.normal-wrapper{
    background: linear-gradient(#a1f69b,#fff,#fff);
    height: 100%;
    padding-top: 1%;

    h3{
        margin-top: 2rem;
        font-weight: 800;
        font-size: 3rem;
        font-family: "Poppins";
    }

    p{
        font-weight: 600;
        font-family: "Poppins";
        font-size: 1rem;

    }
    .precautions{
        position:absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 1rem 4rem;

        h5{
            margin: 1rem 0;
            font-weight: 600;
            font-size: 2.5rem;
            color: #ffaec8;
            
        }

        button{
            background-color: #ffaec8;
            padding: 0.5rem;
            top: 50%;
            bottom: 50%;
        }
    }
}
.button-start{
    margin-top: 1.5rem;
    position: relative;
    height: 13rem;
    
    
    button{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background: #fff;
        padding: 40px;
        display: inline-block;
        border-radius: 50%;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-family: 'Poppings';

        h3{
            font-weight: 600;
        }
    }

    #stopButton{

        h3{
            text-transform: none;
            animation: blinker 2s linear infinite;
        }
        @keyframes blinker {
        50% {
                opacity: 0;
            }
        }
    }

   
}

.instructions-wrapper{
    margin: 1rem 0;
    background: #fff;
    max-width: 100%;
    width: 50%;
    transform: translateX(50%);
    overflow: hidden;
    padding: 2rem 0;

    h3{
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 2rem;

        span{
            color: red;
        }
    }

    .instruction-img-wrapper{
        width: 100%;
        overflow: hidden;

        .instruction{


            img{
                height: 8rem;
                width: 8rem;
            }

            .timer-bottom{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                padding: 1rem 0;
                width: 5rem;
                border-radius: 50%;
            }
        }
    }
}
.report-wrapper{
    padding-top: 1%;
    height: 100%;
    background: linear-gradient(var(--pink),#fff,#fff,#fff,#fff);

    .report{
        width: 40%;
        background: #fff;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin: 2rem 0;
        padding: 1% 2rem;

        h5{
            font-weight: 600;
            font-size: 2.5rem;
            color: #ffaec8;
            
        }

        label{
            text-align: left;
            font-weight: 600;
            font-size: 1.2rem ;
            color: #ffaec8;
        }

        input{
            border: 1px solid var(--pink);
        }

        button{
            background-color: #ffaec8;
            padding: 0.5rem;
            top: 50%;
            bottom: 50%;
        }

        .nav-logo{
            padding: 2rem;
        }
   }
}

.crackles-wrapper {
    background: (linear-gradient(#f5f69b,#fff,#fff));
    padding-top: 1%;

    h4{
        margin-top: 2rem;
        font-weight: 800;
        font-size: 1rem;
        font-family: "Poppins";
    }

    p{
        font-weight: 600;
        font-family: "Poppins";
        font-size: 1rem;
    }
    
    .precautions{
        padding: 1rem 4rem;

        .precautions-inner{
            background: #fff;
        }

        ul{
            padding: 0 2rem;
        }

        h4{
            font-weight: 600;
            font-size: 2rem;
            color: #ffaec8;
            
        }

        button{
            background-color: #ffaec8;
            padding: 0.5rem;
            margin-bottom: 1rem;

            &:hover{
                background: var(--darkPink);
            }
        }

        .recommended-consultations{
            padding: 1rem;

            .consultations{
                margin: 0  0.25rem !important;

                p{
                    font-size: 0.7rem;
                    font-weight: 400;
                }
                
                img{
                    height: 5rem;
                    width: 5rem;
                    margin-bottom: 0.5rem;
                }

                h6{
                    text-transform: uppercase;
                    margin: 0.5rem 0;
                }
            }
        }
        
    }
}

.wheezes-wrapper{
    background: (linear-gradient(#f5f69b,#fff,#fff));
    width: 100%;
    height: 100%;
    padding-top: 1%;

    h4{
        margin-top: 2rem;
        font-weight: 800;
        font-size: 1rem;
        font-family: "Poppins";
    }
    p{
        font-weight: 600;
        font-family: "Poppins";
        font-size: 1rem;

    }
    .precautions{
        background: #fff;
        padding: 1rem 4rem;
        ul{
            padding: 0 2rem;
        }

        h4{
            font-weight: 600;
            font-size: 2rem;
            color: #ffaec8;
            
        }
        button{
            background-color: #ffaec8;
            padding: 0.5rem;
            margin-bottom: 1rem;
        }

        .recommended-consultations{
            padding: 1rem;

            
            .consultations{
                margin: 0  0.25rem !important;
                p{
                    font-size: 0.7rem;
                    font-weight: 400;
                }
                
                img{
                    height: 5rem;
                    width: 5rem;
                    margin-bottom: 0.5rem;
                }

                h6{
                text-transform: uppercase;
                margin: 0.5rem 0;
                }
            }
        }
        
    }
}

.repnorm-wrapper{
    padding-top: 5%;
    height: 100%;
    background: linear-gradient(var(--pink),#fff,#fff,#fff,#fff);
    
    .repnorm{
        width: 50%;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin: 2rem 0;
        padding: 1% 2rem;

        h5{
            font-weight: 600;
            font-size: 2.5rem;
            color: #ffaec8;
            text-align: center;
                
        } 
            
        label{
            text-align: left;
            font-weight: 600;
            font-size: 1.2rem ;
            color: #ffaec8;
        }  

        .nav-logo{
            padding: 2rem;
        }

    }
}

.repcrack-wrapper{
    padding-top: 5%;
    height: 100%;
    background: linear-gradient(var(--pink),#fff,#fff,#fff,#fff);

    .repcrack{
        width: 50%;
        background: #fff;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin: 2rem 0;
        padding: 1% 2rem 2rem 2%;

        h5{
            font-weight: 600;
            font-size: 2.5rem;
            color: #ffaec8;
            text-align: center;
                
        } 
            
        label{
            text-align: left;
            font-weight: 600;
            font-size: 1.2rem ;
            color: #ffaec8;
        }  

        .prec{
            padding-left: 4%;
        }

        .nav-logo{
            padding: 2rem;
        }

    }
    
}

.repwheezes-wrapper{
    padding-top: 5%;
    height: 100%;
    background: linear-gradient(var(--pink),#fff,#fff,#fff,#fff);

    .repwheezes{
        width: 50%;
        background: #fff;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin: 2rem 0;
        padding: 1% 2rem;

        h5{
            font-weight: 600;
            font-size: 2.5rem;
            color: #ffaec8;
            text-align: center;
                
        } 
            
        label{
            text-align: left;
            font-weight: 600;
            font-size: 1.2rem ;
            color: #ffaec8;
        }  

        .prec{
            padding-left: 4%;
        }

        .nav-logo{
            padding: 2rem;
        }

    }
}

@media only screen and (max-width: 768px) {

     .main-wrapper .main{
        position: static;
        transform: translateY(10%);
    }


    .main-wrapper .main .bottom-caution{
        padding: 1rem;
    }

    .button-start{
        height: 10rem;
    }

    .instructions-wrapper{
        margin: 0 1.5rem;
        padding: 1rem;
        width: 90%;
        transform: none;
    }

    .normal-wrapper .precautions {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 5rem 0;
        width: 80%;
    }
    
}

@media only screen and (max-width: 425px) {

}
   