@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

:root {
  --pink: #ffe6e6;
  --darkPink: #f092b0;
  --grey: #636162;
}

body {
  min-height: 100vh;
  background: var(--pink);
}

#normal, #wheezes, #crackles {
  display: none;
}

#defaultCanvas0 {
  display: none;
}

.modal .modal-content {
  font-family: 'Poppins';
  background: -webkit-gradient(linear, left top, left bottom, from(var(--pink)), color-stop(#fff), to(#fff));
  background: linear-gradient(var(--pink), #fff, #fff);
}

.modal .modal-content p {
  padding: 1rem;
  font-size: 1.2rem;
}

.navigation-bar .navbar {
  background: transparent;
  border-bottom: 1px solid #D1D1D1;
}

.navigation-bar .navbar .navbar-brand {
  margin: 0;
}

.navigation-bar .navbar .navbar-brand img {
  height: 5rem;
  width: 8rem;
}

.navigation-bar .navbar .nav-right img {
  height: 2rem;
  width: 2rem;
}

.main-wrapper .main {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-wrapper .main img {
  width: 70%;
  height: auto;
}

.main-wrapper .main h2 {
  color: var(--grey);
  line-height: 4rem;
  font-size: 3rem;
  font-weight: 800;
  padding: 1.5rem 0;
}

.main-wrapper .main .bottom-caution {
  width: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main-wrapper .main i {
  font-size: 1.5rem;
  padding: 0 1rem;
  color: red;
}

.bottom-caution {
  width: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.bottom-caution i {
  font-size: 1.5rem;
  padding: 0 1rem;
  color: red;
}

.normal-wrapper {
  background: -webkit-gradient(linear, left top, left bottom, from(#a1f69b), to(#fff));
  background: linear-gradient(#a1f69b, #fff);
  height: 100vh;
  padding: 1%;
}

.normal-wrapper .modal .body {
  padding-left: 20rem 2rem;
}

.normal-wrapper h3 {
  color: var(--grey);
  text-transform: uppercase;
  margin-top: 2rem;
  font-weight: 800;
  font-size: 3rem;
  font-family: "Poppins";
}

.normal-wrapper p {
  color: var(--grey);
  font-weight: 600;
  font-family: "Poppins";
  font-size: 1rem;
}

.normal-wrapper .precautions {
  background: #fff;
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 1rem 4rem;
}

.normal-wrapper .precautions ul {
  margin: 1rem 0;
  line-height: 1.9rem;
}

.normal-wrapper .precautions h5 {
  margin-top: 1rem;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 2.5rem;
  color: #ffaec8;
}

.normal-wrapper .precautions .reportBtn {
  background-color: #ffaec8;
  padding: 0.5rem 2rem;
  top: 50%;
  bottom: 50%;
}

.normal-wrapper .precautions .reportBtn:hover {
  background-color: var(--darkPink);
}

.button-start {
  margin-top: 1rem;
  position: relative;
  height: 13rem;
}

.button-start button {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff;
  padding: 75px 65px;
  display: inline-block;
  border-radius: 50%;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Poppins';
  font-weight: 600;
  color: var(--grey);
}

.button-start #stopButton {
  color: var(--grey);
  padding: 40px;
  font-weight: 800;
}

.button-start #stopButton h3 {
  text-transform: none;
  -webkit-animation: blinker 2s linear infinite;
          animation: blinker 2s linear infinite;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.instructions-wrapper {
  margin: 1rem 0;
  background: #fff;
  max-width: 100%;
  width: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  overflow: hidden;
  padding: 2rem 0;
}

.instructions-wrapper h3 {
  font-family: 'Poppins';
  color: #FFAEC8;
  font-weight: 600;
  font-size: 2rem;
}

.instructions-wrapper h3 span {
  color: red;
}

.instructions-wrapper .instruction-img-wrapper {
  width: 100%;
  overflow: hidden;
}

.instructions-wrapper .instruction-img-wrapper .instruction {
  padding: 1rem 0;
}

.instructions-wrapper .instruction-img-wrapper .instruction img {
  height: 8rem;
  width: 8rem;
}

.instructions-wrapper .instruction-img-wrapper .instruction .timer-bottom-wrapper {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.instructions-wrapper .instruction-img-wrapper .instruction .timer-bottom-wrapper .timer-bottom {
  padding: 2rem;
  width: 8rem;
  border-radius: 50%;
}

.instructions-wrapper .instruction-img-wrapper .instruction .timer-bottom-wrapper .timer-bottom h4 {
  font-family: 'Poppins';
}

.instructions-wrapper .instruction-img-wrapper .instruction p {
  color: #7E797C;
}

.instructions-wrapper .instruction-img-wrapper-mobile {
  width: 100%;
  overflow: hidden;
  display: none;
}

.instructions-wrapper .instruction-img-wrapper-mobile .instruction {
  padding: 1rem 0;
}

.instructions-wrapper .instruction-img-wrapper-mobile .instruction img {
  height: 8rem;
  width: 8rem;
}

.instructions-wrapper .instruction-img-wrapper-mobile .instruction .timer-bottom-wrapper {
  position: static;
}

.instructions-wrapper .instruction-img-wrapper-mobile .instruction .timer-bottom-wrapper .timer-bottom {
  padding: 2rem;
  width: 8rem;
  border-radius: 50%;
}

.instructions-wrapper .instruction-img-wrapper-mobile .instruction p {
  color: #7E797C;
}

.report-wrapper {
  padding-top: 1%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--pink)), color-stop(#fff), color-stop(#fff), color-stop(#fff), to(#fff));
  background: linear-gradient(var(--pink), #fff, #fff, #fff, #fff);
}

.report-wrapper .report {
  background: #fff;
  margin: 1rem;
  padding: 1rem;
}

.report-wrapper .report h5 {
  font-weight: 600;
  font-size: 2.5rem;
  color: #ffaec8;
}

.report-wrapper .report label {
  text-align: left;
  font-weight: 600;
  font-size: 1.2rem;
  color: #ffaec8;
}

.report-wrapper .report input {
  border: 1px solid var(--pink);
}

.report-wrapper .report button {
  background-color: #ffaec8;
  padding: 0.5rem 3rem;
  top: 50%;
  bottom: 50%;
}

.report-wrapper .report button:hover {
  background: var(--darkPink);
}

.report-wrapper .report .nav-logo {
  overflow: hidden;
  padding: 2rem;
}

.report-wrapper .report .nav-logo img {
  width: 10rem;
}

.report-wrapper .report-wrapper .body {
  background: #fff;
}

.crackles-wrapper {
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f69b), to(#fff));
  background: linear-gradient(#f5f69b, #fff);
  padding-top: 1%;
}

.crackles-wrapper h2 {
  color: var(--grey);
  margin-top: 2rem;
  font-weight: 800;
  font-family: "Poppins";
  text-transform: uppercase;
}

.crackles-wrapper p {
  color: var(--grey);
  font-weight: 600;
  font-family: "Poppins";
  font-size: 1rem;
}

.crackles-wrapper .precautions {
  padding: 1rem 2rem;
}

.crackles-wrapper .precautions .precautions-inner {
  padding: 1rem;
  background: #fff;
}

.crackles-wrapper .precautions ul {
  line-height: 1.9rem;
  padding: 0 2rem;
  margin: 2rem 0;
}

.crackles-wrapper .precautions h4 {
  margin-top: 1rem;
  font-weight: 600;
  font-size: 2rem;
  color: #ffaec8;
}

.crackles-wrapper .precautions .reportBtn {
  background-color: #ffaec8;
  padding: 0.5rem 2rem;
}

.crackles-wrapper .precautions .reportBtn:hover {
  background: var(--darkPink);
}

.crackles-wrapper .precautions .recommended-consultations {
  padding: 1rem;
}

.crackles-wrapper .precautions .recommended-consultations .consultations {
  padding: 1rem 0;
  font-family: 'Poppins';
  margin: 0  0.25rem !important;
}

.crackles-wrapper .precautions .recommended-consultations .consultations p {
  font-size: 0.7rem;
  font-weight: 400;
}

.crackles-wrapper .precautions .recommended-consultations .consultations img {
  height: 5rem;
  width: 5rem;
  margin-bottom: 0.5rem;
}

.crackles-wrapper .precautions .recommended-consultations .consultations h6 {
  font-weight: 600;
  text-transform: uppercase;
  margin: 0.5rem 0;
}

.repnorm-wrapper {
  width: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--pink)), color-stop(#fff), color-stop(#fff), color-stop(#fff), to(#fff));
  background: linear-gradient(var(--pink), #fff, #fff, #fff, #fff);
}

.repnorm-wrapper .repnorm {
  border: 1px solid #ccc;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2rem;
  font-family: 'Poppins';
}

.repnorm-wrapper .repnorm h2 {
  font-weight: 600;
  margin-bottom: 1rem;
  color: #ffaec8;
  text-align: center;
}

.repnorm-wrapper .repnorm label {
  text-align: left;
  font-weight: 600;
  font-size: 1.1rem;
  color: #ffaec8;
}

.repnorm-wrapper .repnorm td {
  padding: 0;
}

.repnorm-wrapper .repnorm span {
  font-weight: 600;
  font-family: 'Poppins';
  margin: 0 0.5rem;
  color: #636162;
}

.repnorm-wrapper .repnorm .nav-logo {
  padding: 0rem 2rem 0rem 2rem;
}

.repnorm-wrapper .repnorm .prec {
  padding-left: 5%;
  padding-bottom: 0rem;
}

.repwheezes-wrapper {
  width: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--pink)), color-stop(#fff), color-stop(#fff), color-stop(#fff), to(#fff));
  background: linear-gradient(var(--pink), #fff, #fff, #fff, #fff);
}

.repwheezes-wrapper .repwheezes {
  border: 1px solid #ccc;
  background: #fff;
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 2rem;
  font-family: 'Poppins';
}

.repwheezes-wrapper .repwheezes h2 {
  font-weight: 600;
  margin-bottom: 1rem;
  color: #ffaec8;
  text-align: center;
}

.repwheezes-wrapper .repwheezes label {
  text-align: left;
  font-weight: 600;
  font-size: 1.1rem;
  color: #ffaec8;
}

.repwheezes-wrapper .repwheezes td {
  padding: 0;
}

.repwheezes-wrapper .repwheezes span {
  font-weight: 600;
  font-family: 'Poppins';
  margin: 0 0.5rem;
  color: #636162;
}

.repwheezes-wrapper .repwheezes .nav-logo {
  padding: 0rem 2rem 0rem 2rem;
}

.repwheezes-wrapper .repwheezes .nav-logo img {
  width: 10rem;
}

.repwheezes-wrapper .repwheezes li {
  font-size: 0.95rem;
  line-height: 1.8rem;
}

.repwheezes-wrapper .repwheezes .prec {
  padding-left: 5%;
  padding-bottom: 0rem;
}

@media only screen and (max-width: 975px) {
  .repnorm-wrapper .repnorm {
    width: 90%;
    padding: 0rem 2rem 0rem 2rem;
    top: 50%;
    height: 102%;
  }
  .repnorm-wrapper .body {
    background: #fff;
  }
  .repnorm-wrapper .prec {
    padding-left: 2rem;
    padding-bottom: 1rem;
  }
  .repnorm-wrapper .nav-logo {
    bottom: 0.5%;
  }
  .bottom-caution {
    width: 80%;
  }
  .instructions-wrapper {
    margin: 1.5rem;
    -webkit-transform: none;
            transform: none;
    padding: 1rem;
    width: 90%;
  }
  .repnorm-wrapper {
    padding: 1rem;
    width: auto;
  }
  .repnorm-wrapper .repnorm {
    padding: 1rem;
    width: auto;
    position: static;
    -webkit-transform: none;
            transform: none;
  }
  .repwheezes-wrapper .repwheezes {
    width: 90%;
    padding: 2rem;
  }
  .instructions-wrapper {
    margin: 1.5rem;
    -webkit-transform: none;
            transform: none;
    padding: 1rem;
    width: 90%;
  }
  .repnorm-wrapper {
    padding: 1rem;
    width: auto;
  }
  .repnorm-wrapper .repnorm {
    padding: 1rem;
    width: auto;
    position: static;
    -webkit-transform: none;
            transform: none;
  }
  .main-wrapper .main {
    padding: 1rem;
    position: static;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  .main-wrapper .main .bottom-caution {
    padding: 1rem;
  }
  .normal-wrapper {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
  }
  .normal-wrapper .precautions {
    position: absolute;
    top: 65%;
    font-size: 1rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: 6rem 0;
    padding: 0rem 1rem 0rem 2rem;
    width: 90%;
  }
  .normal-wrapper .precautions ul {
    line-height: 1.9rem;
  }
  .normal-wrapper .precautions button {
    margin-bottom: 2rem;
  }
  .normal-wrapper .body {
    line-height: 1%;
    padding: 3%;
  }
  .normal-wrapper .pre {
    padding-top: 1%;
    padding-bottom: 1%;
  }
}

@media only screen and (max-width: 500px) {
  .main-wrapper .main {
    padding: 1rem;
    left: 0;
    top: 0;
    -webkit-transform: none;
            transform: none;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  .instructions-wrapper h3 {
    margin: 1rem 0;
  }
  .instructions-wrapper .instruction-img-wrapper {
    display: none;
  }
  .instructions-wrapper .instruction-img-wrapper-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .normal-wrapper {
    height: 100vh;
  }
  .normal-wrapper .precautions {
    margin: 2rem 1rem;
    position: static;
    -webkit-transform: none;
            transform: none;
    width: auto;
  }
  .normal-wrapper .pre {
    margin: 1.5rem 0;
  }
  .bottom-caution {
    padding: 0 1rem;
    padding-bottom: 1rem;
    width: 100%;
  }
}

@media only screen and (max-width: 425px) {
  .repcrack-wrapper .repcrack {
    width: 90%;
  }
  .repwheezes-wrapper .repwheezes {
    top: 2%;
    width: 95%;
  }
  .normal-wrapper {
    height: 120vh;
  }
  .bottom-caution {
    padding: 0.5rem;
    width: 100%;
  }
}

@media only screen and (max-width: 395px) {
  .instructions-wrapper {
    margin: 0 1rem;
  }
  .normal-wrapper .precautions {
    top: 80%;
  }
}
/*# sourceMappingURL=style.css.map */