
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --pink: #ffe6e6;    
    --darkPink: #f092b0;
    --grey: #636162;
}

body{
    min-height: 100vh;
    background: var(--pink);
    // background: linear-gradient(var(--pink),#fff,#fff);
}

#defaultCanvas0{
    display: none;
}

.modal{

     
    .modal-content{
        font-family: 'Poppins';
        background: linear-gradient(var(--pink),#fff,#fff);

        p{
            padding: 1rem;
            font-size: 1.2rem;
        }
    }
}

.navigation-bar{


    .navbar{
        background: transparent;
        border-bottom: 1px solid #D1D1D1;

        .navbar-brand{
            margin: 0;

            img{
                height: 5rem;
                width: 8rem;
            }
        }

        .nav-right{

            img{
                height: 2rem;
                width: 2rem;
            }
        }
    }
}

.main-wrapper{

    .main{
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%,-50%);

        img{
            width: 70%;
            height: auto;
        }

        h2{
            color: var(--grey);
            line-height: 4rem;
            font-size: 3rem;
            font-weight: 800;
            padding: 1.5rem 0;
        }

        .bottom-caution{
            width: 100%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        i{
            font-size: 1.5rem;
            padding: 0 1rem;
            color: red;
        }
    }
}

.bottom-caution{
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    i{
        font-size: 1.5rem;
        padding: 0 1rem;
        color: red;
    }
}

.normal-wrapper{
    background: linear-gradient(#a1f69b,#fff);
    height: 100vh;
    padding: 1%;

    .modal .body{
        padding-left: 20rem 2rem;
    } 

    h3{
        color: var(--grey);
        text-transform: uppercase;
        margin-top: 2rem;
        font-weight: 800;
        font-size: 3rem;
        font-family: "Poppins";
    }

    p{
        color: var(--grey);
        font-weight: 600;
        font-family: "Poppins";
        font-size: 1rem;

    }
    .precautions{
        position:absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 1rem 4rem;

        h5{
            margin: 1rem 0;
            font-weight: 600;
            font-size: 2.5rem;
            color: #ffaec8;
            
        }

        button{
            background-color: #ffaec8;
            padding: 0.5rem 2rem;
            top: 50%;
            bottom: 50%;

            &:hover{
                background-color: var(--darkPink);
            }
        }
    }
}

.button-start{
    margin-top: 1rem;
    position: relative;
    height: 13rem;
    
    
    button{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background: #fff;
        padding: 75px 65px;
        display: inline-block;
        border-radius: 50%;
        font-size: 2rem;
        text-transform: uppercase;
        font-family: 'Poppins';
        font-weight: 600;
        color: var(--grey);
    }

    #stopButton{
        color: var(--grey);
        padding: 40px;
        font-weight: 800;

        h3{
            text-transform: none;
            animation: blinker 2s linear infinite;
        }

        @keyframes blinker {
        50% {
                opacity: 0;
            }
        }
    }

   
}

.instructions-wrapper{
    margin: 1rem 0;
    background: #fff;
    max-width: 100%;
    width: 50%;
    transform: translateX(50%);
    overflow: hidden;
    padding: 2rem 0;

    h3{
        font-family: 'Poppins';
        color: #FFAEC8;
        font-weight: 600;
        font-size: 2rem;

        span{
            color: red;
        }
    }

    .instruction-img-wrapper{
        width: 100%;
        overflow: hidden;

        .instruction{
            padding: 1rem 0;

            img{
                height: 8rem;
                width: 8rem;
            }

            .timer-bottom-wrapper{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                
                .timer-bottom{
                    padding: 2rem;
                    width: 8rem;
                    border-radius: 50%;

                    h4{
                        font-family: 'Poppins';
                    }
                }

            }
            p{
                color: #7E797C;
            }
        }
    }
    .instruction-img-wrapper-mobile{
        width: 100%;
        overflow: hidden;
        display: none;

        .instruction{
            padding: 1rem 0;

            img{
                height: 8rem;
                width: 8rem;
            }

            .timer-bottom-wrapper{
                position: static;
                
                .timer-bottom{
                    padding: 2rem;
                    width: 8rem;
                    border-radius: 50%
                }

            }
            p{
                color: #7E797C;
            }
        }
    }
}
.report-wrapper{
    padding-top: 1%;
    height: 100%;
    background: linear-gradient(var(--pink),#fff,#fff,#fff,#fff);

    .report{
        background: #fff;
        margin: 1rem;
        padding: 1rem;

        h5{
            font-weight: 600;
            font-size: 2.5rem;
            color: #ffaec8;
            
        }

        label{
            text-align: left;
            font-weight: 600;
            font-size: 1.2rem ;
            color: #ffaec8;
        }

        input{
            border: 1px solid var(--pink);
        }

        button{
            background-color: #ffaec8;
            padding: 0.5rem 3rem;
            top: 50%;
            bottom: 50%;

            &:hover{
                background: var(--darkPink);
            }
        }

        .nav-logo{
            overflow: hidden;
            padding: 2rem;

            img{
                width: 10rem;
            }
        }
   }

    .report-wrapper .body{
        background: #fff;
    }
}

.crackles-wrapper {
    background: (linear-gradient(#f5f69b,#fff));
    padding-top: 1%;

    h2{
        color: var(--grey);
        margin-top: 2rem;
        font-weight: 800;
        font-family: "Poppins";
        text-transform: uppercase;
    }
    
    p{
        color: var(--grey);
        font-weight: 600;
        font-family: "Poppins";
        font-size: 1rem;
    }
    
    .btn{
        background-color: #ffaec8;
    }

    .precautions{
        padding: 1rem 2rem;

        .precautions-inner{
            padding: 1rem;
            background: #fff;
        }

        ul{
            padding: 0 2rem;
            margin: 2rem 0;
        }

        h4{
            margin-top: 1rem;
            font-weight: 600;
            font-size: 2rem;
            color: #ffaec8;
            
        }

        button{
            background-color: #ffaec8;
            padding: 0.5rem 2rem;
            margin-bottom: 1rem;

            &:hover{
                background: var(--darkPink);
            }
        }

        .recommended-consultations{
            padding: 1rem;

            .consultations{
                padding: 1rem 0;
                font-family: 'Poppins';
                margin: 0  0.25rem !important;

                p{
                    font-size: 0.7rem;
                    font-weight: 400;
                }
                
                img{
                    height: 5rem;
                    width: 5rem;
                    margin-bottom: 0.5rem;
                }

                h6{
                    font-weight: 600;
                    text-transform: uppercase;
                    margin: 0.5rem 0;
                }
            }
        }
        
    }
}


.repnorm-wrapper{
    width: 50%;
    background: linear-gradient(var(--pink),#fff,#fff,#fff,#fff);
    
    .repnorm{
        border: 1px solid #ccc;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 2rem;
        font-family: 'Poppins';

        h2{
            font-weight: 600;
            margin-bottom: 1rem;
            color: #ffaec8;
            text-align: center;  
        } 
            
        label{
            text-align: left;
            font-weight: 600;
            font-size: 1.1rem;
            color: #ffaec8;
            
        }  
        td{
            padding: 0;
        }
        span{
            font-weight: 600;
            font-family: 'Poppins';
            margin: 0 0.5rem;
            color: #636162;
        }

        .nav-logo{
            padding: 0rem 2rem 0rem 2rem;
        }

        .prec{
            padding-left: 5%;
            padding-bottom: 0rem;
        }

    }

}
.repwheezes-wrapper{
    width: 50%;
    background: linear-gradient(var(--pink),#fff,#fff,#fff,#fff);
    
    .repwheezes{
        border: 1px solid #ccc;
        background: #fff;
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        padding: 2rem;
        font-family: 'Poppins';

        h2{
            font-weight: 600;
            margin-bottom: 1rem;
            color: #ffaec8;
            text-align: center;  
        } 
            
        label{
            text-align: left;
            font-weight: 600;
            font-size: 1.1rem;
            color: #ffaec8;
            
        }  
        td{
            padding: 0;
        }
        span{
            font-weight: 600;
            font-family: 'Poppins';
            margin: 0 0.5rem;
            color: #636162;
        }

        .nav-logo{
            padding: 0rem 2rem 0rem 2rem;

            img{
                width: 10rem;
            }
        }
        li{
            font-size: 0.95rem;
            line-height: 1.8rem;
        }

        .prec{
            padding-left: 5%;
            padding-bottom: 0rem;
        }

    }

}

@media only screen and (max-width: 975px){

    .repnorm-wrapper .repnorm{
        width: 90%;
        padding: 0rem 2rem 0rem 2rem;
        top: 50%;
        height: 102%;
    }

    .repnorm-wrapper .body{
        background: #fff;
    }

    .repnorm-wrapper .prec{
        padding-left: 2rem;
        padding-bottom: 1rem;
    }

    .repnorm-wrapper .nav-logo{
        bottom: 0.5%;
    }


    .bottom-caution{
        width: 80%;
    }

    .instructions-wrapper{
        margin: 1.5rem;
        transform: none;
        padding: 1rem;
        width: 90%;
    }

    .repnorm-wrapper{
        padding: 1rem;
        width: auto;


        .repnorm{
            padding: 1rem;
            width: auto;
            position: static;
            transform: none;
        }
    }
    .repwheezes-wrapper .repwheezes{
        width: 90%;
        padding: 2rem;
    }




    .bottom-caution{
        width: 80%;
    }

    .instructions-wrapper{
        margin: 1.5rem;
        transform: none;
        padding: 1rem;
        width: 90%;
    }

    .repnorm-wrapper{
        padding: 1rem;
        width: auto;


        .repnorm{
            padding: 1rem;
            width: auto;
            position: static;
            transform: none;
        }
    }

     .main-wrapper .main{
        padding: 1rem;
        position: static;
        transform: translateY(10%);
    }


    .main-wrapper .main .bottom-caution{
        padding: 1rem;
    }

    .normal-wrapper{
        padding-top: 0.5%;
        padding-bottom: 0.5%;
    }
    .normal-wrapper .precautions {
        position: absolute;
        top: 65%;
        font-size: 1rem;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 6rem 0;
        padding: 0rem 1rem 0rem 2rem;
        width: 90%;
        
        button{
            margin-bottom: 1rem;
        }
    }

    .normal-wrapper .body{
        line-height: 1%;
        padding: 3%;
    }


    .normal-wrapper .pre{
        padding-top: 1%;
        padding-bottom: 1%;
    }

}

@media only screen and (max-width: 500px) {

    .instructions-wrapper .instruction-img-wrapper{
        display: none;
    }

    .instructions-wrapper .instruction-img-wrapper-mobile{
        display: flex;
    }

    .normal-wrapper{
        height: 100vh;
        
        .precautions{
            margin: 1rem;
            position: static;
            transform: none;
            width: auto;
        } 
    }

    .bottom-caution{
        padding: 0 1rem;
        width: 100%;
    }

}

@media only screen and (max-width: 425px) {
 

    .repcrack-wrapper .repcrack{
        width: 90%;
    }

    .repwheezes-wrapper .repwheezes{
        top: 2%;
        width: 95%;
    }

    .normal-wrapper{
        height: 120vh;
    }

    .bottom-caution{
        padding: 0.5rem;
        width: 100%;
    }

}
   
@media only screen and (max-width: 395px) {
    .instructions-wrapper{
        margin: 0 1rem;
    }
    
    .normal-wrapper .precautions{
        top: 80%;
    }

}   
