* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Poppins', sans-serif;
}

:root {
  --pink: #ffe6e6;
  --darkPink: #f092b0;
  --grey: #636162;
}

body {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--pink)), color-stop(#fff), to(#fff));
  background: linear-gradient(var(--pink), #fff, #fff);
}

.navigation-bar .navbar {
  background: transparent;
}

.navigation-bar .navbar .navbar-brand img {
  height: 5rem;
  width: 8rem;
}

.navigation-bar .navbar .nav-right img {
  height: 2rem;
  width: 2rem;
}

.main-wrapper .main {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-wrapper .main img {
  width: 70%;
  height: auto;
}

.main-wrapper .main h2 {
  color: var(--grey);
  line-height: 4rem;
  font-size: 3rem;
  font-weight: 800;
  padding: 1.5rem 0;
}

.main-wrapper .main .bottom-caution {
  width: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main-wrapper .main i {
  font-size: 1.5rem;
  padding: 0 1rem;
  color: red;
}

.normal-wrapper {
  background: -webkit-gradient(linear, left top, left bottom, from(#a1f69b), to(#fff));
  background: linear-gradient(#a1f69b, #fff);
  height: 100%;
  padding: 1%;
}

.normal-wrapper .modal .body {
  padding-left: 20rem 2rem;
}

.normal-wrapper h3 {
  margin-top: 2rem;
  font-weight: 800;
  font-size: 3rem;
  font-family: "Poppins";
}

.normal-wrapper p {
  font-weight: 600;
  font-family: "Poppins";
  font-size: 1rem;
}

.normal-wrapper .precautions {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 1rem 4rem;
}

.normal-wrapper .precautions h5 {
  margin: 1rem 0;
  font-weight: 600;
  font-size: 2.5rem;
  color: #ffaec8;
}

.normal-wrapper .precautions button {
  background-color: #ffaec8;
  padding: 0.5rem;
  top: 50%;
  bottom: 50%;
}

.button-start {
  margin-top: 1.5rem;
  position: relative;
  height: 13rem;
}

.button-start button {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff;
  padding: 40px;
  display: inline-block;
  border-radius: 50%;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'Poppings';
}

.button-start button h3 {
  font-weight: 600;
}

.button-start #stopButton h3 {
  text-transform: none;
  -webkit-animation: blinker 2s linear infinite;
          animation: blinker 2s linear infinite;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.instructions-wrapper {
  margin: 1rem 0;
  background: #fff;
  max-width: 100%;
  width: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  overflow: hidden;
  padding: 2rem 0;
}

.instructions-wrapper h3 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 2rem;
}

.instructions-wrapper h3 span {
  color: red;
}

.instructions-wrapper .instruction-img-wrapper {
  width: 100%;
  overflow: hidden;
}

.instructions-wrapper .instruction-img-wrapper .instruction img {
  height: 8rem;
  width: 8rem;
}

.instructions-wrapper .instruction-img-wrapper .instruction .timer-bottom {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 1rem 0;
  width: 5rem;
  border-radius: 50%;
}

.report-wrapper {
  padding-top: 1%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--pink)), color-stop(#fff), color-stop(#fff), color-stop(#fff), to(#fff));
  background: linear-gradient(var(--pink), #fff, #fff, #fff, #fff);
}

.report-wrapper .report {
  width: 80%;
  background: #fff;
  top: 45%;
  left: 50%;
  margin: 2rem 3rem;
  padding: 1rem;
}

.report-wrapper .report h5 {
  font-weight: 600;
  font-size: 2.5rem;
  color: #ffaec8;
}

.report-wrapper .report label {
  text-align: left;
  font-weight: 600;
  font-size: 1.2rem;
  color: #ffaec8;
}

.report-wrapper .report input {
  border: 1px solid var(--pink);
}

.report-wrapper .report button {
  background-color: #ffaec8;
  padding: 0.5rem;
  top: 50%;
  bottom: 50%;
  margin-bottom: 3.5rem;
}

.report-wrapper .report .nav-logo {
  padding: 2rem;
}

.report-wrapper .report-wrapper .body {
  background: #fff;
}

.crackles-wrapper {
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f69b), color-stop(#fff), to(#fff));
  background: linear-gradient(#f5f69b, #fff, #fff);
  padding-top: 1%;
}

.crackles-wrapper h4 {
  margin-top: 2rem;
  font-weight: 800;
  font-size: 1rem;
  font-family: "Poppins";
}

.crackles-wrapper p {
  font-weight: 600;
  font-family: "Poppins";
  font-size: 1rem;
}

.crackles-wrapper .btn {
  background-color: #ffaec8;
}

.crackles-wrapper .precautions {
  padding: 1rem 4rem;
}

.crackles-wrapper .precautions .precautions-inner {
  background: #fff;
}

.crackles-wrapper .precautions ul {
  padding: 0 2rem;
}

.crackles-wrapper .precautions h4 {
  font-weight: 600;
  font-size: 2rem;
  color: #ffaec8;
}

.crackles-wrapper .precautions button {
  background-color: #ffaec8;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.crackles-wrapper .precautions button:hover {
  background: var(--darkPink);
}

.crackles-wrapper .precautions .recommended-consultations {
  padding: 1rem;
}

.crackles-wrapper .precautions .recommended-consultations .consultations {
  margin: 0  0.25rem !important;
}

.crackles-wrapper .precautions .recommended-consultations .consultations p {
  font-size: 0.7rem;
  font-weight: 400;
}

.crackles-wrapper .precautions .recommended-consultations .consultations img {
  height: 5rem;
  width: 5rem;
  margin-bottom: 0.5rem;
}

.crackles-wrapper .precautions .recommended-consultations .consultations h6 {
  text-transform: uppercase;
  margin: 0.5rem 0;
}

.repnorm-wrapper {
  padding-top: 5%;
  height: 110%;
  width: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--pink)), color-stop(#fff), color-stop(#fff), color-stop(#fff), to(#fff));
  background: linear-gradient(var(--pink), #fff, #fff, #fff, #fff);
}

.repnorm-wrapper .repnorm {
  width: 60%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 2rem 0;
  padding: 1% 4rem;
}

.repnorm-wrapper .repnorm h5 {
  font-weight: 600;
  font-size: 2.5rem;
  color: #ffaec8;
  text-align: center;
}

.repnorm-wrapper .repnorm label {
  text-align: left;
  font-weight: 600;
  font-size: 1.2rem;
  color: #ffaec8;
}

.repnorm-wrapper .repnorm .nav-logo {
  padding: 0rem 2rem 0rem 2rem;
}

.repnorm-wrapper .repnorm .prec {
  padding-left: 5%;
  padding-bottom: 0rem;
}

@media only screen and (max-width: 768px) {
  .normal-wrapper .precautions {
    position: absolute;
    top: 65%;
    font-size: 1rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: 4rem 0;
    padding: 0rem 1rem 0rem 2rem;
    width: 90%;
  }
  .normal-wrapper .precautions button {
    margin-bottom: 1rem;
  }
  .normal-wrapper .body {
    line-height: 1%;
    padding: 3%;
  }
  .normal-wrapper .pre {
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .repnorm-wrapper .repnorm {
    width: 90%;
    padding: 0rem 2rem 0rem 2rem;
    top: 50%;
    height: 102%;
  }
  .repnorm-wrapper .body {
    background: #fff;
  }
  .repnorm-wrapper .prec {
    padding-left: 2rem;
    padding-bottom: 1rem;
  }
  .repnorm-wrapper .nav-logo {
    bottom: 0.5%;
  }
  .main-wrapper .main {
    position: static;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  .main-wrapper .main .bottom-caution {
    padding: 1rem;
  }
  .button-start {
    height: 10rem;
  }
  .instructions-wrapper {
    margin: 0 1.5rem;
    padding: 1rem;
    width: 90%;
    -webkit-transform: none;
            transform: none;
  }
}

.repcrack-wrapper {
  padding-top: 1%;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--pink)), color-stop(#fff), color-stop(#fff), color-stop(#fff), to(#fff));
  background: linear-gradient(var(--pink), #fff, #fff, #fff, #fff);
}

.repcrack-wrapper .repcrack {
  width: 80%;
  background: #fff;
  top: 70%;
  left: 50%;
  margin: 2rem 3rem;
  padding: 2rem;
}

.repcrack-wrapper .repcrack h5 {
  font-weight: 600;
  font-size: 2.5rem;
  color: #ffaec8;
  text-align: center;
}

.repcrack-wrapper .repcrack label {
  text-align: left;
  font-weight: 600;
  font-size: 1.2rem;
  color: #ffaec8;
}

.repcrack-wrapper .repcrack .prec {
  padding-left: 6%;
}

.repcrack-wrapper .repcrack .nav-logo {
  padding: 2rem;
}

.repcrack-wrapper .repcrack button {
  background-color: #ffaec8;
  padding: 0.5rem;
  top: 50%;
  bottom: 50%;
  margin-left: 3.5rem;
}

.repcrack-wrapper .repcrack-wrapper .body {
  background: #fff;
}

.repwheezes-wrapper {
  padding-top: 1%;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--pink)), color-stop(#fff), color-stop(#fff), color-stop(#fff), to(#fff));
  background: linear-gradient(var(--pink), #fff, #fff, #fff, #fff);
}

.repwheezes-wrapper .repwheezes {
  width: 80%;
  background: #fff;
  top: 70%;
  left: 50%;
  margin: 2rem 3rem;
  padding: 2rem;
}

.repwheezes-wrapper .repwheezes h5 {
  font-weight: 600;
  font-size: 2.5rem;
  color: #ffaec8;
  text-align: center;
}

.repwheezes-wrapper .repwheezes label {
  text-align: left;
  font-weight: 600;
  font-size: 1.2rem;
  color: #ffaec8;
}

.repwheezes-wrapper .repwheezes .prec {
  padding-left: 4%;
}

.repwheezes-wrapper .repwheezes .nav-logo {
  padding: 2rem;
}

.repwheezes-wrapper .repwheezes button {
  background-color: #ffaec8;
  padding: 0.5rem;
  top: 50%;
  bottom: 50%;
  margin-left: 3.5rem;
}

.repwheezes-wrapper .repwheezes-wrapper .body {
  background: #fff;
}

.repwheezes-wrapper .main-wrapper .main {
  position: static;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

.repwheezes-wrapper .main-wrapper .main .bottom-caution {
  padding: 1rem;
}

.repwheezes-wrapper .button-start {
  height: 10rem;
}

.repwheezes-wrapper .instructions-wrapper {
  margin: 0 1.5rem;
  padding: 1rem;
  width: 90%;
  -webkit-transform: none;
          transform: none;
}

.repwheezes-wrapper .normal-wrapper .precautions {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 5rem 0;
  width: 80%;
}

@media only screen and (max-width: 425px) {
  .normal-wrapper .precautions {
    position: absolute;
    top: 70%;
    font-size: 1rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: 5rem 0;
    padding: 0rem 1rem 0rem 2rem;
    width: 90%;
  }
  .normal-wrapper .precautions button {
    margin-bottom: 1rem;
  }
  .normal-wrapper .body {
    line-height: 1%;
    padding: 3%;
  }
  .normal-wrapper .pre {
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .repcrack-wrapper .repcrack {
    width: 90%;
  }
  .repwheezes-wrapper .repwheezes {
    width: 90%;
    top: 85%;
  }
}

@media only screen and (max-width: 375px) {
  .normal-wrapper .precautions {
    top: 75%;
  }
  .normal-wrapper .body {
    line-height: 1%;
    padding: 3%;
  }
  .normal-wrapper .pre {
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .repcrack-wrapper .repcrack {
    padding: 1rem 2rem 2rem 1.5rem;
  }
  .repwheezes-wrapper .repwheezes {
    top: 90%;
  }
}
/*# sourceMappingURL=style.css.map */